{% extends "base2.html" %}

{% block title %}Change Password{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<form id="changeform" action="/changePassword" method="POST">
	<h1 class="heading">Change Your Password Here!</h1>
	
	<div class="inputBlock">
		<p> Enter your username </p>
		<input id="username" type="text" name="username"><br>
		
		<p> Create a new password </p>
		<input id="newPassword" type="password" name="newPassword"><br><br>
	
		<button id="submitButton" type="submit">Change Password</button>
	</div>
	
</form>

<div class="loginLink">
	<a href="{{ url_for('login') }}">Back to Login</a>
</div>

{% endblock %}